.venv/
__pycache__
.pytest_cache/
.ruff_cache/
.pyrightcache/
.mypy_cache/
.coverage
.coverage.*
.coverage-*.xml
.coverage-*.json
.coverage-*.yaml
.coverage-*.yml
uv.lock

# Ignore cursor AI rules
.cursor/rules/codacy.mdc

.env
.env.*
!.env.example
!.env.test